@font-face {
  font-family: 'HelveticaNeueBold';
  src: local('HelveticaNeueBold'), url(./assets/FreeSansBold.ttf) format('ttf');
}

@font-face {
  font-family: 'HelveticaNeueLight';
  src: local('HelveticaNeueLight'), url(./assets/Nimbus-Sans-D-OT-Light_32752.ttf) format('ttf');
}
